<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="false">
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../Controller</directory>
      <directory suffix=".php">../Core</directory>
      <directory suffix=".php">../Extend</directory>
      <directory suffix=".php">../Model</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="junit" target="report.xml"/>
    <log type="testdox-html" target="report.html"/>
  </logging>
</phpunit>
